.main-section {
  $distance: 200px;

  margin-right: auto;
  margin-left: auto;
  padding-top: $distance;
  padding-bottom: $distance;
  max-width: 1600px;

  background-color: $primaryColor;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bcg-photo.jpg);
  background-size: cover;
}
.main-section__heading {
  margin-bottom: 30px;
  @include heading($backgroundColor, 900, 44px, 1.4, 0.06em);
  text-transform: uppercase;
}
.main-section__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;

  background-color: $accentColor;
  @include heading($backgroundColor, $textWeightMain, 16px, 1.9, 0.06em);
  cursor: pointer;

  transition: background-color $transitionSpeed, box-shadow 250ms $transitionSpeed;

  &:hover,
  &:focus {
    background-color: $buttonHover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
/* features */

.features {
  padding-top: $distance;
  padding-bottom: $distance;

  @extend %container;
}

.features__list {
  display: flex;
}
.features__list li + li {
  margin-left: 30px;
}
.features__list .features__item {
  width: 270px;
}

.features .feature__names {
  margin-bottom: 10px;

  @include heading($primaryColor, $textWeightMain, 14px, $textHeight, 0.03em);
  text-transform: uppercase;
}
.feature__def {
  @include heading($secondaryColor, 400, 14px, $textHeightMain, 0.03em);
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $cardColor;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.feature__picture {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

// work

.pictures {
  padding-bottom: 94px;
}

.secondary-heading {
  margin-bottom: 50px;

  @include heading($primaryColor, $textWeightMain, 36px, $textHeight, 0.03em);
  text-align: center;
}
.pictures__list {
  display: flex;
  justify-content: center;
}
.pictures__list li + li {
  margin-left: 30px;
}

.pictures__list li {
  width: 370px;
  position: relative;
}
.pictures__description {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  text-transform: uppercase;

  @include heading($backgroundColor, $textWeightMain, 14px, $textHeight, 0.03em);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */

.team-info {
  padding-bottom: $distance;
  padding-top: $distance;
  background-color: $cardColor;
}

.team__box {
  width: 270px;
  background-color: $backgroundColor;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  transition: box-shadow $transitionSpeed;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team {
  display: flex;
  justify-content: center;
}
.team > li + li {
  margin-left: 30px;
}

.team__member {
  margin-bottom: 10px;

  @include heading($primaryColor, $textWeight, 16px, $textHeight, 0.03em);
  text-align: center;
}
.team__occupation {
  margin-bottom: 16px;

  @include heading($secondaryColor, 400, 16px, $textHeight, 00.03em);
  text-align: center;
}
// social-media

.social-media {
  display: flex;
  justify-content: center;
}

.social-media__link {
  fill: $mainFill;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color $transitionSpeed;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }

  &:hover .social-media__icons,
  &:focus .social-media__icons {
    fill: $backgroundColor;
  }
}
.social-media__icons {
  transition: fill $transitionSpeed;
}

// clients

.clients {
  padding-top: $distance;
  padding-bottom: $distance;
}
.clients__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.clients__link {
  fill: $mainFill;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 172px;
  height: 92px;

  border: 1px solid $mainFill;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accentColor;
  }

  &:hover .clients__icons,
  &:focus .clients__icons {
    fill: $accentColor;
  }
}
.clients__info:not(:last-child) {
  margin-right: 30px;
}
.clients__icons {
  transition: fill $transitionSpeed;
}
