.main-section {
  $distance: 200px;

  margin-right: auto;
  margin-left: auto;
  padding-top: $distance;
  padding-bottom: $distance;
  max-width: 1600px;

  background-color: $primaryColor;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bcg-photo.jpg);
  background-size: cover;
}
.main-section__heading {
  margin-bottom: 30px;
  @include heading($backgroundColor, 900, 44px, 1.4, 0.06em);
  text-transform: uppercase;
}
.main-section__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;

  background-color: $accentColor;
  @include heading($backgroundColor, $textWeightMain, 16px, 1.9, 0.06em);
  cursor: pointer;

  transition: background-color $transitionSpeed, box-shadow 250ms $transitionSpeed;

  &:hover,
  &:focus {
    background-color: $buttonHover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
