.hat {
  @extend %container;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__logo {
  display: flex;
  align-items: center;

  color: $standartColor;
  font-family: 'Raleway';
  font-weight: $textWeightMain;
  font-size: 26px;
  line-height: $textHeight;
  text-decoration-line: none;
  letter-spacing: 0.03em;

  transition: color $transitionSpeed;

  &:hover,
  &:focus {
    color: $accentColor;
  }
  .nav__part {
    color: $accentColor;
  }
}
